/* Header styling */
.header {
  background: linear-gradient(90deg, rgb(29, 46, 178),rgb(224, 96, 224), rgb(62, 112, 169));
  color: white;
  padding: 20px 0;
  width: 100%;
}

.container {
  width: 100%;
  height: 80px;
  max-width: 1200px; /* Limit the width to 1200px */
  margin: 0 ; /* Center the container */
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 0 10px; /* Add some padding on the sides */
}
.container nav{
  margin-left: 600px;
}
.logo{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.main-logo{
  width: 110px;
  height: 90px;
  margin-right: 15px;
  margin-left: 10px;
}
.logo span {
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  font-size:37px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 5;
  padding: 50px;
}

.nav-links li {
  margin: 0 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #080808; /* Yellow color on hover */
}
