/* Header styling */
.header {
  background: linear-gradient(90deg, rgb(29, 46, 178),rgb(224, 96, 224), rgb(62, 112, 169));
  color: white;
  padding: 20px 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px; /* Limit the width to 1200px */
  margin: 0 auto; /* Center the container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add some padding on the sides */
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 5;
  padding: 0;
}

.nav-links li {
  margin: 0 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #080808; /* Yellow color on hover */
}
